<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gc.nfc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <permission
        android:name="com.gc.nfc.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:name="com.gc.nfc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gc.nfc.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.gc.nfc.permission.C2D_MESSAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon_app_cetc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.AppContext"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="111"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="ffda4c68ede19c14999d37d75ab1d20a"/>
        <service android:name="com.amap.api.location.APSService"/>
        <!--<service android:name="com.dk.bleNfc.BleNfcDeviceService"/>-->
        <!--<service android:enabled="true" android:exported="true" android:name="com.gc.nfc.utils.AmapLocationService"/>-->
        <provider android:authorities="com.gc.nfc.provider"
                   android:exported="false"
                   android:grantUriPermissions="true"
                   android:name="com.luck.picture.lib.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                   android:resource="@xml/file_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.gc.nfc.ui.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gc.nfc.ui.LoginActivity"
            android:label="登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MainlyActivity"
            android:label="首页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MineActivity"
            android:label="我的"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MyOrdersActivity"
            android:label="我的订单"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MyCheckActivity"
            android:label="我的巡检"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.ValidOrdersActivity"
            android:label="待抢订单"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MybottlesActivity"
            android:label="我的气瓶"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MyMendActivity"
            android:label="我的报修"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gc.nfc.ui.MendDetailActivity"
            android:label="报修处理"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HistoryOrdersActivity"
            android:label="历史订单"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HistoryCheckActivity"
            android:label="我的巡检"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MySecurityActivity"
            android:label="我的安检"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="历史版本"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderDetailActivity"
            android:label="订单详情"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BottleExchangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AutoLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PicSelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CheckDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MapViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TrayOrderDealActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderDealActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PicSignActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SecurityDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QianZiActivity"/>
        <activity android:label="空瓶回收"
            android:launchMode="singleTop"
            android:name=".ui.BottleRecycleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DiaoBoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StockManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>